<body>
  <div class="bg">
    <section>
      <h1>Movie Taste</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ape laborum facilis minima corrupti ducimus natus ea dolore quisquaquis odio dicta modi!</p>
      <div class="row">
        <a [routerLink]="['/movie-list']"class="waves-effect waves-light btn-large col s5"><i class="material-icons right"></i>List</a>
        <span class="col s2"></span>
        <a class="waves-effect waves-light btn-large col s5" ><i class="material-icons right"></i>Test</a>
      </div>
    </section>
  </div>
</body>
